/**
 * style.css: display or not display login text area
 * @author DoungukKim
 * @since 7/21/2023
 * @version v0.0.1
 */

.hidden {
    display: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: -apple-system, sans-serif;
    position: relative;
}

.left, .center, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

#clock,
#login-form,
#greeting,
#quote,
#todo-form,
#todo-list,
#weather {
    border: 1px solid #000; /* 각각의 요소에 아웃라인 추가 */
    padding: 8px;
    margin-bottom: 16px;
    background-color: #ffffff;
    border-radius: 10px;
}

input,
button {
    font-family: -apple-system, sans-serif;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#clock {
    font-size: 50px;
    margin-bottom: 16px;
}
#todo-list li {
    list-style-type: none;
}